.canvas__container {
  margin: 180px auto;
}
.canvas {
  margin: 0 auto;
  background: white;
}
.circle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0,0,0,0.7);
  box-shadow: 0 0 0 1px rgba(255,255,255,0.7);
  border-radius: 50%;
  pointer-events: none;
  background: rgba(255,255,255,0.1);
}
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px dashed #000;
  pointer-events: none;
}
.user-cursor {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #a8a7a7;
  white-space: nowrap;
z-index: 99999;
}


.user-cursor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.3); /* Цвет курсора */
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 26px;
  padding: 0;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  &::-webkit-color-swatch {
    border-radius: 3px;
    border: none;
  }
  &::-moz-color-swatch {
    border-radius: 3px;
    border: none;
  }
}
.dashed-border {
  border: 2px dashed black;
  /* Задаем цвет, толщину и стиль рамки */
  padding: 10px; /* Может потребоваться регулировать отступы вокруг элемента */
}
.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}
.cursor-nwse-resize{
  cursor: nwse-resize;
}
.cursor-nesw-resize{
  cursor: nesw-resize;
}
.cursor-ew-resize{
  cursor: ew-resize;
}
.cursor-ns-resize{
  cursor: ns-resize;
}
.cursor-alias{
  cursor: alias;
}

.square {
  display: block;
  position: absolute;
  width: 5px; /* Ширина квадрата */
  height: 5px; /* Высота квадрата */
  border: 1px solid #000;
  top: 0;
  left: 0;
  pointer-events: none;
}